{% comment %}

	<!--


		Maybe should We redirect to store if the cart is empty ¿?


	-->

{% endcomment %}

{% include 'checkout-redirect' %}

<div class="banner" data-header="">
  	<div class="wrap">
      	<a class="logo logo--center" href="/">
          	{% comment %}
          	<img alt="{{ shop.name }}" class="logo__image logo__image--large" src="">
          	{% endcomment %}
          	<a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
      	</a>
  	</div>
</div>

<button class="order-summary-toggle" data-toggle="collapse" href="#order-summary" aria-expanded="false" aria-controls="order-summary">
    <span class="wrap">
        <span class="order-summary-toggle__inner">
            <span class="order-summary-toggle__icon-wrapper">
                <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__icon">
                  	<path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"></path>
                </svg>
            </span>
            <span class="order-summary-toggle__text order-summary-toggle__text--show">
              	<span>Show order summary</span>
              	<svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"></path></svg>
            </span>
            <span class="order-summary-toggle__text order-summary-toggle__text--hide">
              	<span>Hide order summary</span>
              	<svg width="11" height="7" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z"></path></svg>
            </span>
            <span class="order-summary-toggle__total-recap total-recap" data-order-summary-section="toggle-total-recap">
              	<span class="total-recap__final-price" data-checkout-payment-due-target="{{ cart.total_price }}">{{ cart.total_price | money }}</span>
            </span>
        </span>
    </span>
</button>

<div class="content" data-content="">
  	<div class="wrap">
      	<div class="main" role="main">
          	<div class="main__header">

              	<a class="logo" href="/" itemprop="url">{{ shop.name }}</a>

              	<ul class="breadcrumb breadcrumb--center">
                    <li class="breadcrumb__item breadcrumb__item--completed">
                      	<a class="breadcrumb__link" href="/cart">Cart</a>
                      	<svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"><use xlink:href="#chevron-right"><svg id="chevron-right" width="100%" height="100%"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"></path></svg></svg></use> </svg>
                    </li>

                  	<li class="breadcrumb__item breadcrumb__item--completed">
                        <a class="breadcrumb__link" href="#" rel="noreferrer noopener" data-step="1">Customer information</a>
                        <svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"> <use xlink:href="#chevron-right"></use> </svg>
                    </li>

                    <li class="breadcrumb__item breadcrumb__item--blank">
                      	<a class="breadcrumb__link" href="#" rel="noreferrer noopener"data-step="2">Shipping method</a>
                        <svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"> <use xlink:href="#chevron-right"><svg id="chevron-right" width="100%" height="100%"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"></path></svg></svg></use> </svg>
                    </li>

                    <li class="breadcrumb__item breadcrumb__item--blank">
                      <a class="breadcrumb__link" href="#" rel="noreferrer noopener" data-step="3">Payment information</a>
                    </li>
                </ul>

              	{% comment %}
              	<div data-alternative-payments="">
                  	<div class="dynamic-checkout">
                      	<h2 class="dynamic-checkout__title">
                          	Express checkout
                      	</h2>
                    </div>
                  	<div class="alternative-payment-separator" data-alternative-payment-separator="">
                        <span class="alternative-payment-separator__content">
                            OR
                        </span>
                  	</div>
              	</div>
              	{% endcomment %}

          	</div>
          	<!-- / MAIN HEADER -->

          	<div class="main__content">

              	<!-- Step Dynamic Content -->

              	{% include 'checkout-step-contact' %}

              	{% include 'checkout-step-shipping' %}

              	{% include 'checkout-step-payment' %}

              	<!-- Step Dynamic Content -->

          	</div>
          	<!-- / MAIN CONTENT -->

          	<div class="main__footer">
                <div role="contentinfo" aria-label="Footer">
                    <ul class="policy-list">
                        <li class="policy-list__item">
                          	<a data-toggle="modal" data-target="#upSellModal" href="#upSellModal">Refund policy</a>
                        </li>
                        <li class="policy-list__item">
                          	<a aria-haspopup="dialog" data-target="#myModal" href="#myModal">Privacy policy</a>
                        </li>
                        <li class="policy-list__item">
                          	<a aria-haspopup="dialog" data-target="#myModal" href="#myModal">Terms of service</a>
                        </li>
                    </ul>
                </div>
            </div>
      	</div>

      	<div class="sidebar" role="complementary">
          	<div class="sidebar__header">

          	</div>
          	<div class="sidebar__content">
              	<div id="order-summary" class="order-summary collapse" data-order-summary="">

  					<div class="order-summary__sections">
    					<div class="order-summary__section order-summary__section--product-list">
  							<div class="order-summary__section__content">
    							<table class="product-table">
                                  	<tbody data-order-summary-section="line-items">

                                      	{% for item in cart.items %}
                                        <tr class="product">

                                            <td class="product__image">
                                              	<div class="product-thumbnail">
                                                  	<div class="product-thumbnail__wrapper">
                                                		<img class="product-thumbnail__image" src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}">
                                                  	</div>
                                                  	<span class="product-thumbnail__quantity" aria-hidden="true">{{ item.quantity }}</span>
                                              	</div>
                                            </td>

                                          	<td class="product__description">
                                              	<span class="product__description__name order-summary__emphasis">{{ item.product.title }}</span>
                                              	<span class="product__description__variant order-summary__small-text">
                                                  	{% unless item.variant.title contains 'Default' %}
                                                  	{% for option in item.product.options %}
														{{ option }}: {{ item.variant.options[forloop.index0] }}
                                                  	{% endfor %}
                                                  	{% endunless %}
                                              	</span>
                                          	</td>
                                          	<td class="product__price">
                                              	<span class="order-summary__emphasis">{{ item.price | money }}</span>
                                          	</td>
                                        </tr>
                                        {% endfor %}
                                  	</tbody>

                              	</table>

                              	<div class="order-summary__scroll-indicator" aria-hidden="true" tabindex="-1">
                                  	Scroll for more items
                                  	<svg aria-hidden="true" focusable="false" class="icon-svg icon-svg--size-12"> <use xlink:href="#down-arrow"></use> </svg>
                              	</div>
                          	</div>
                      	</div>
                      	<!--

						DISCOUNT INPUT

						-->
                      	<div class="order-summary__section order-summary__section--discount" data-reduction-form="update">
                          	<h3 class="visually-hidden">Discount</h3>

                          	{% comment %}
                          	<form class="edit_checkout animate-floating-labels" action="/22786357/checkouts/eb3f1a3aa2539a8a035e9c1eeaa881cf" accept-charset="UTF-8" method="post">
                              	<input name="utf8" type="hidden" value="✓">
                              	<input type="hidden" name="_method" value="patch">
                              	<input type="hidden" name="authenticity_token" value="Qr4YaOKnpllmjjWAgfkLdtVczX8N9V0+pdn0vXY4AUDVWhR/eptGakw976c5TzA9Kr7D5VwY17c9XUUXUgE8Pg==">
                              	<input type="hidden" name="step" value="contact_information">
                              	<input type="hidden" name="checkout[client_details][browser_width]" value="1906">
                              	<input type="hidden" name="checkout[client_details][browser_height]" value="947">
                              	<input type="hidden" name="checkout[client_details][javascript_enabled]" value="1">
                          	</form>
                          	{% endcomment %}

                          	{% comment %}
                          	<form class="edit_checkout animate-floating-labels" action="/22786357/checkouts/eb3f1a3aa2539a8a035e9c1eeaa881cf" accept-charset="UTF-8" method="post">
                            {% endcomment %}

                              	{% comment %}
                              	<input name="utf8" type="hidden" value="✓">
                              	<input type="hidden" name="_method" value="patch">
                              	<input type="hidden" name="authenticity_token" value="Shb6mtwjI37eLPv9ZZpc0SQgOpSol3rI+8YnjV4L827d8vaNRB/DTfSfIdrdLGea28I0Dvl68EFjQpYnejLOEA==">
                              	<input type="hidden" name="step" value="contact_information">
                              	{% endcomment %}

                              	<div class="fieldset">
                                  	<div class="field">
                                      	<div class="field__input-btn-wrapper">
                                          	<div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_reduction_code">Discount code</label>
                                              	<input placeholder="Discount code" class="field__input" data-discount-field="true" autocomplete="off" aria-required="true" size="30" type="text" name="checkout[reduction_code]" id="checkout_reduction_code">
                                          	</div>

                                          	<button name="button" type="submit" class="field__input-btn btn btn--disabled" aria-busy="false" disabled="disabled">
                                              	<span class="btn__content visually-hidden-on-mobile" aria-hidden="true">
                                                  	Apply
                                              	</span>

                                              	<span class="visually-hidden">
                                                  	Apply Discount Code
                                              	</span>

                                              	<svg class="icon-svg icon-svg--size-16 btn__icon shown-on-mobile" aria-hidden="true" focusable="false"> <use xlink:href="#arrow">
                                                  <svg id="arrow" width="100%" height="100%"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M16 8.1l-8.1 8.1-1.1-1.1L13 8.9H0V7.3h13L6.8 1.1 7.9 0 16 8.1z"></path></svg></svg>
                                                  </use> </svg>
                                              	<svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button">
                                                  <svg id="spinner-button" width="100%" height="100%"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 10c0 5.523-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0v2c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8h2z"></path></svg></svg>
                                                  </use> </svg>
                                          	</button>
                                      	</div>
                                  	</div>
                              	</div>

                              	{% comment %}
                              	<input type="hidden" name="checkout[client_details][browser_width]" value="1906">
                              	<input type="hidden" name="checkout[client_details][browser_height]" value="947">
                              	<input type="hidden" name="checkout[client_details][javascript_enabled]" value="1">
                              	{% endcomment %}

                            {% comment %}
                          	</form>
                          	{% endcomment %}
                      	</div>
                      	<!--

						/   DISCOUNT

						-->
                      	<div class="order-summary__section order-summary__section--total-lines" data-order-summary-section="payment-lines">
                          	<table class="total-line-table">
                              	<tbody class="total-line-table__tbody">
                                  	<tr class="total-line total-line--subtotal">
                                      	<th class="total-line__name" scope="row">Subtotal</th>
                                      	<td class="total-line__price">
                                          	<span class="order-summary__emphasis" data-checkout-subtotal-price-target="{{ cart.total_price }}">
                                              	{{ cart.total_price | money }}
                                          	</span>
                                      	</td>
                                  	</tr>
                                  	<tr class="total-line total-line--shipping">
                                      	<th class="total-line__name" scope="row">Shipping</th>
                                      	<td class="total-line__price">
                                          	<span class="order-summary__small-text" data-checkout-total-shipping-target="0">
                                              	Calculated at next step
                                          	</span>
                                      	</td>
                                  	</tr>
                              	</tbody>
                                <tfoot class="total-line-table__footer">
                                    <tr class="total-line">
                                        <th class="total-line__name payment-due-label" scope="row">
                                            <span class="payment-due-label__total">Total</span>
                                            <span class="payment-due-label__taxes hidden" data-checkout-taxes="">
                                              	Including <span data-checkout-total-taxes-target="0">{{ cart.total_price | money }}</span> in taxes
                                            </span>
                                        </th>
                                        <td class="total-line__price payment-due">
                                            <span class="payment-due__currency">{{ cart.currency.iso_code }}</span>
                                            <span class="payment-due__price" data-checkout-payment-due-target="{{ cart.total_price }}">
                                              	{{ cart.total_price | money }}
                                            </span>
                                        </td>
                                    </tr>
                                </tfoot>
                          	</table>
                        </div>
                    </div>
                </div>
          	</div>
      	</div>
  	</div>
</div>

<!-- Upsell Modal -->
<div class="modal fade" id="upSellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

              	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="modal-body">

              	<!-- Hardcoded Item To Show -->
				{% assign productUpsell = all_products.jacob-vintage-sunglasses %}

                {%- assign productUpsell_current_variant = productUpsell.selected_or_first_available_variant -%}
                {%- assign featured_image = productUpsell.selected_or_first_available_variant.featured_image | default: productUpsell.featured_image -%}

                <div class="">
                    <h2>Want to add another items?</h2>

                  	<div class="item-wrapper">
                      	<div class="image-wrapper">
							<img src="{{ featured_image | img_url: '200x200' }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
                      	</div>
                      	<div class="details-wrapper">
							<h3>{{ productUpsell.title }}</h3>
                          	<div class="prices-wrapper">
                              	{% if productUpsell_current_variant.compare_at_price > current_variant.price %}
                                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                                    <span id="ProductPrice-{{ section.id }}"
                                          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                                      {{ productUpsell_current_variant.price | money }}
                                    </span>
                                    <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>
                                </span>
                                {% else %}
                                <span class="product-price__price product-price__price-{{ section.id }}">
                                    <span id="ProductPrice-{{ section.id }}"
                                          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                                      {{ productUpsell_current_variant.price | money }}
                                    </span>
                                    <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
                                </span>
                                {% endif %}
                          	</div>
                      	</div>
                  	</div>
                </div>

            </div>
            <div class="modal-footer">
              	<button type="button" class="btn btn-default fn-cancelUpsell" data-dismiss="modal">Close</button>
              	<button type="button" class="btn btn-primary fn-purchaseUpsell">Save changes</button>
            </div>
        </div>
    </div>
</div>
